[submodule "third_party/the-forge"]
	path = third_party/the-forge
	url = https://github.com/kacerato/astra-forge.git
	branch = astra/1.63
[submodule "third_party/glslang"]
	path = third_party/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "third_party/flecs"]
	path = third_party/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "third_party/luau"]
	path = third_party/luau
	url = https://github.com/luau-lang/luau.git
