#version: 0.3
# Derivado de Examples_3/Unit_Tests/src/01_Transformations/GPUCfg/gpu.cfg (TF 1.63).
# Astra: sem a exclusão de GPUs Intel (o host de desenvolvimento só tem Intel UHD) e sem regras só de D3D12.

BEGIN_GPU_SELECTION;
GraphicQueueSupported == 1; 
deviceid == PreferredGPU;
GpuPresetLevel;
VRAM;
END_GPU_SELECTION;

BEGIN_DRIVER_REJECTION;
END_DRIVER_REJECTION;

BEGIN_GPU_SETTINGS;

# driver bug on intel
dynamicRenderingEnabled; vendorID == 0x163C; 0;
dynamicRenderingEnabled; vendorID == 0x8086; 0;
dynamicRenderingEnabled; vendorID == 0x8087; 0;

# ANDROID_NOTE: Lot of driver issues on Mali with tessellation. Best to disable it
tessellationsupported; vendorID == 0x13B5; 0;
# ANDROID_NOTE: Xclipse 920 GPU has issues with the transfer queue from the non-graphics queue family
xclipsetransferqueueworkaroundenabled; DeviceID == 0x73A0; 1;
# ANDROID_NOTE: On some device this extention causes crash on swapchain creation even though it is reported as supported
devicememoryreportcrashworkaround; DeviceID == 0x92020010; 1;
END_GPU_SETTINGS;

BEGIN_USER_SETTINGS;
END_USER_SETTINGS;