<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.vulkan.version" android:version="0x401000" android:required="true" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="@string/app_name">
        <activity
            android:name="com.forge.unittest.ForgeBaseActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|screenLayout|smallestScreenSize|density|uiMode"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
            <meta-data android:name="android.app.lib_name" android:value="@string/lib_name" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
